
._global_style_
{
	font-size: 12px !important;
	font-family: courier !important;
	text-size-adjust: none !important;

}

.global_resp
{
	/* global_resp 는 body 에 추가된 클래스 입니다. */

}

/*가로모드*/
@media screen and (orientation: landscape)
{
	.global_resp
	{
	}
}

/*ios*/
@supports (-webkit-overflow-scrolling: touch)
{
}

/*tablet*/
@media screen and (min-width:641px)
{
}

.loginBtnOver
{
	background-color: rgb(69, 44, 42) !important;
}

.clickBorderDelete
{
	outline: 0 !important;
	border: none !important;
}

.buttonOver
{
	background-image:url("../Assets/MainChat/Side/user_hover.png") !important;
	background-repeat: no-repeat !important;
}

.friendBtnClick
{
		background-image:url("../Assets/MainChat/Side/user_active.png") !important;
	background-repeat:no-repeat !important;
}

.chatBtnHover
{
	background-image:url('../Assets/MainChat/Side/chat_hover.png') !important;
	background-repeat:no-repeat !important;
}

.chatBtnClick
{
	background-image:url('../Assets/MainChat/Side/chat_active.png') !important;
	background-repeat:no-repeat !important;
}

