
._global_style_
{
	font-size: 12px;
	font-family: courier;
	text-size-adjust: none;
	
	
	overscroll-behavior: contain;
}

.global_resp
{
	/* TODO:edit here */

}

/*가로모드*/
@media screen and (orientation: landscape)
{
}

/*세로모드*/
@media screen and (orientation: portrait)
{
}

/*ios*/
@supports (-webkit-overflow-scrolling: touch)
{
}

/*not ios*/
@supports not (-webkit-overflow-scrolling: touch)
{
}

/*phone*/
@media screen and (max-width: 640px)
{
}

/*tablet*/
@media screen and (min-width:641px)
{
}

