
.listview_layout
{
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
}

._global_style_
{
	font-size: 12px;
	font-family: courier;
	text-size-adjust: none;
}

.listview_def
{
	background: -webkit-linear-gradient(top,  #3D3D3D 0%, #252525 100%);
}

.listview_select
{
	background: -webkit-linear-gradient(top,  #F4F4F4 0%, #999999 100%);
	color: rgb(0, 0, 0);
}

